/* Just to make the demo easier to work with. */

:root {
	--spacing: 1em;
}



body {
	font-family: sans-serif;
	padding: var(--spacing);
}

a { color: blue; }

em { font-style: italic }

ul {
	display: grid;
	gap: calc(4 * var(--spacing));
	margin-top: calc(4 * var(--spacing));
}

li {
	display: grid;
	gap: var(--spacing);
}

h2 { font-weight: bold; }
